.link {
  padding: 0 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.img {
  width: 200px;
}

.info {
  display: flex;
  padding: 5px;
  border-bottom: 2px solid lightslategray;
}
.text {
  padding: 0 15px;
}
